
.navbar{
    padding:0 !important;
}
.carousel-inner{
    width:100%;
    max-height: 500px !important;
}
.carousel-caption{
    top:30% !important;
}
.heading-1{
    color:#ffeb00;
}
.heading-2{
    color:#e400ff;
}
.heading-3{
    color:#fff;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
    filter: invert(0) grayscale(255) !important;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff !important;
}
.custom-class p{
    text-align: justify;
}
.custom-background{
    background-color: rgb(10, 104, 104);
    color: cornsilk;
}
.icon-color i{
    color:rgb(10, 104, 104);
}
.card:hover i{
    transform: rotate(360deg);
    transition: transform .5s ease-in-out;
    color: rgb(14, 7, 97);
}
.own-shadow {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.card:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    cursor: pointer;
}
.card:hover h5, .card:hover p{
    color: dodgerblue;
}
.team-image{
    max-width: 80% !important;
}
/**.mydiv{
    border: 3px dashed #e400ff;
    position: relative;
}
.myimage{
    max-width:30% !important; 
    position: absolute; 
    top:-25%; 
    left: 36%;
}
@media only screen and (max-width: 575px) {
    .myimage {
        max-width:25% !important; 
        position: absolute; 
        top:-25%; 
        left: 37%;
    }
    .mydiv h2{
        padding-top: 20px;
    }
  }
  **/
  #map {
    max-height: 100%;
  }
  .list-group-item{
      border: none !important;
  }
  .copyright{
      margin: 0 !important;
      padding:0 !important;
  }
  .copyright p{
      margin:8px 0;
  }
  .list-group .list-group-item::before{
      content: "\f061";
      font-family: "Font Awesome 5 Pro";
      margin-right: 5px;
      font-weight: 500;
  }
  .swiper {
    width: 600px;
    height: 300px;
  }



