@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300');
body{
    background-image: url('https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80');
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    padding-top: 250px;
}
input{
    width: 100%;
    margin: 10px 0;
    padding: 10px 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}

#button{
    display: block;
    margin-top: 10px;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #1BABD9;
    color: #fff;
    border:none;
    width: 320px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}

form{
    width: 300px;
    margin-top: 20px;
}
input::placeholder{
    font-family: 'Open Sans', sans-serif;
}
input:focus{
    outline: 1px solid #920202;
}

