.container{
    width: 100%;
    margin-bottom: 50px;
}
.portion{
    width:100%;
    margin: 0;
}
img{
    width:200px;
    height: 150px;
    border: 1px solid #2e0141;
    margin-bottom: 10px;
    border-radius: 5px;
}
img:hover{
    cursor:pointer;
    border:1px solid #0dda06;
    transform: rotate(360deg);
    transition-duration: 2s;
}
h1{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(250, 3, 3);
    display: inline;
    color: #0dda06;
}
.portion1{
    margin-top: 50px;
}
.firstimg{
    margin-right: 10px;
}
.lastimg{
    margin-left: 10px;
}
body {
    margin: 0;
    padding: 0;
}
.bg-video-wrap {
position: relative;
overflow: hidden;
width: 100%;
height: 100vh;
background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;
}
video {
min-width: 100%;
min-height: 100vh;
z-index: 1;
}
.overlay {
width: 100%;
height: 100vh;
position: absolute;
top: 0;
left: 0;
background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
background-size: 3px 3px;
z-index: 2;
}
.front {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 25%;
}